@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --accent: 240 4.8% 95.9%;
  --muted: 240 4.8% 95.9%;
}
